@import url('header.css');
@import url('footer.css');

/* -------------------------
    BASIC RESET
------------------------- */
@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/*
h0 76
h1 58
h2 42
h3 34
h4 30

buttons 22
featuress 22

parraf negrita 20
parraf normal 18

menus 18
*/

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Borna', sans-serif;
}

h1 {
    font-size: 4.75rem;
    /* 76px / 16px = 4.75rem */
    font-weight: 400;
    line-height: 110%;

}

h2 {
    font-size: 3.625rem;
    /* 58px / 16px = 3.625rem */
    font-weight: 400;
}

h3 {
    font-size: 2.625rem;
    /* 42px / 16px = 2.625rem */
    font-weight: 700;
    letter-spacing: 2px;
}

h4 {
    font-size: 2.125rem;
    /* 34px / 16px = 2.125rem */
    font-weight: 500;
    letter-spacing: 2px;
}

h5 {
    font-size: 1.875rem;
    /* 30px / 16px = 1.875rem */
    font-weight: 400;
}

/* Buttons and Feature Lists */
button,
.features .feature-item p {
    /* Assuming these are classes or relevant elements */
    font-size: 1.375rem;
    /* 22px / 16px = 1.375rem */
    font-weight: 400;
    line-height: 90%;
}

button {
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 8px;
}

/* Paragraphs */
.paragraph-bold {
    font-size: 1.25rem;
    /* 20px / 16px = 1.25rem */
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;

}

.paragraph-normal {
    font-size: 1.125rem;
    /* 18px / 16px = 1.125rem */
    font-weight: 400;
    letter-spacing: 0%;
}

/* Menus */
.nav-bar li a {
    font-size: 1.125rem;
    /* 18px / 16px = 1.125rem */
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
}

:root {
    --white: #FFFFFF;

    --pink: #FFC0CB;

    --border-color: #1E4C50;

    --light-gray: #f7f7f7
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Borna';
    background-color: #fff;
    color: #333;
}

/* -------------------------
    BUTTONS
------------------------- */
.language-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

.language-button img {
    width: 30px;
    height: 20px;
}


button {
    background-color: transparent;
    color: var(--white);
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Borna';
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
    width: fit-content;
}

button:hover {
    transform: scale(1.05);
}



/* Media query for small screens (768px and below) */
@media (max-width: 768px) {
    button {
        font-size: 0.8rem;
        padding: 8px 10px;
    }


    .language-button img
    {
        opacity: 70%;
    }
}

/* Media query for small screens (1080px and below) */
@media (max-width: 1080px) {

    h1 {
        font-size: 2.2rem;
        /* 76px / 16px = 4.75rem */

    }

    h2 {
        font-size: 1.8rem;
        /* 58px / 16px = 3.625rem */
    }

    h3 {
        font-size: 1.5rem;
        /* 42px / 16px = 2.625rem */

    }

    h4 {
        font-size: 1.3rem;
        /* 34px / 16px = 2.125rem */
    }

    h5 {
        font-size: 1.2rem;
        /* 30px / 16px = 1.875rem */
    }

    /* Buttons and Feature Lists */
    button {
        font-size: 1rem;
        /* 22px / 16px = 1.375rem */
    }

    /* Paragraphs */
    .paragraph-bold {
        font-size: 1rem;
        /* 20px / 16px = 1.25rem */

    }

    .paragraph-normal {
        font-size: 1rem;
        /* 18px / 16px = 1.125rem */

    }

    /* Menus */
    .nav-bar li a {
        font-size: 1rem;
        /* 18px / 16px = 1.125rem */
    }
}